*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    text-transform: capitalize;
    font-family: sans-serif;
}
body{
    padding: 0;
    margin: 0;
    text-decoration: none;
    text-transform: capitalize;
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
.main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
.main .my-pic{
    width: 20%;
}
.main .my-pic img{
    width: 100%;
    border-radius: 20px;
}
.main ul li{
    background-color: #252525;
    margin-bottom: 10px;
    border-radius: 10px;
}
.main ul li:hover{
    background-color: black;
}
.main ul li a{
    padding: 10px 50px;
    display: inline-block;
    color: white;
    font-size: 18px;
}
.main ul li a i{
    color: white;
}

@media (max-width:800px){
    .main{
        flex-direction: column;
        gap: 20px;
    }
    .main .my-pic{
        width: 40%;
    }
}